.GMeetEventModal-wrapper {
  width: 369px;
  .header {
    display: flex;
    padding: 12px 16px;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #e9e9e9;
  }
  .job-Title {
    padding: 20px 54px 10px;
  }

  .InterviewInfoBox {
    display: flex;
    gap: 15px;
    .priorityBox {
      padding: 10px;
      .priority {
        height: 17px;
        width: 17px;
        background-color: #0066da;
        border-radius: 4px;
      }
    }
    .InterviewInfo {
      color: #042b52;
      font-family: DM Sans;
      font-size: 16px;
      font-weight: 400;
      text-align: left;

      .DT-wrapper {
        padding: 10px 0px;
        .DTBox {
          display: flex;
          flex-direction: row;
          gap: 10px;
          margin: 2px 0px;

          span {
            font-family: DM Sans;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: #555555;
          }
        }
      }
    }
  }

  .meetLink-wrapper {
    display: flex;
    padding: 10px 0px;
    gap: 15px;
    .meetIcon {
      padding: 8px;
    }

    .btn-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;

      img {
        cursor: pointer;
      }
      .meetBtn {
        cursor: pointer;
        width: 171px;
        height: 38px;
        padding: 10px 12px;
        border-radius: 4px;
        gap: 10px;
        background-color: #1a73e8;
        color: white;
        font-size: 14px;
        font-weight: 500;
        font-family: DM Sans !important;
        border: none;
        outline: none;
      }
    }
  }

  .MeetParticipants-wrapper {
    display: flex;
    margin: 10px 0px;
    gap: 15px;
    .particapantIconBox {
      padding: 0px 10px;
    }

    .ParticipantsList {
      display: flex;
      flex-direction: column;
      gap: 11px;

      h2 {
        font-family: DM Sans;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #414141;
      }
      .participant {
        display: flex;
        flex-direction: row;
        gap: 10px;
        img {
          height: 20px;
          width: 20px;
        }
        span {
          font-family: DM Sans;
          font-size: 15px;
          font-weight: 500;
          text-align: left;
          color: #6b6f73;
        }
      }
    }
  }
}
