.ant-input-affix-wrapper {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}

.custom-input:focus {
  outline: none;
}

.ant-input-affix-wrapper {
  box-shadow: none;
}

.ant-modal {
  @media (min-width: 1024px) {
    width: 50% !important;
  }

  padding: 1rem;
}

.ant-modal .ant-modal-content {
  padding: 0px !important;
  border-bottom-left-radius: 0.8rem !important;
  border-bottom-right-radius: 0.65rem !important;
  padding-bottom: 2.25rem !important;
}

.ant-modal .ant-modal-title {
  padding: 1rem 2.5rem;
  background-color: #1a2b3c;
  color: white !important;
  font-weight: 400 !important;
  font-size: 1.375rem;
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.ant-modal .ant-modal-close {
  margin: 0 1rem 0;
  height: 14px;
}

.ant-modal .ant-modal-close-x {
  color: white !important;
  display: none;
}

.ant-modal .ant-modal-close::before {
  content: " ";
  display: inline-block;
  background: url("../../assets/closeicon.svg") center / 14px 14px no-repeat;
  width: 14px;
  height: 14px;
  padding: 1rem 0;
}

.ant-modal .ant-modal-footer {
  margin-right: 2.5rem !important;
}

.ant-modal-footer {
  .ant-btn-default {
    border-color: #1a2b3c !important;
    width: 6.5rem;
  }

  .ant-btn-primary {
    background-color: #1a2b3c !important;
    color: #ffffff !important;
    box-shadow: 0 1px 0 rgba(99, 152, 200, 0.21);
    width: 6.5rem;
  }

  .ant-btn-default:not(:disabled):hover {
    color: #1c334b !important;
  }
}

.ant-input-affix-wrapper:focus {
  border-color: #1a2b3c !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #1a2b3c !important;
}

.ant-modaldata-wrapper {
  padding: 6% 5% !important;

  @media (max-width: 768px) {
    padding: 1rem 10% !important;
  }
}
