.table-data {
  padding: 0rem 1.25rem;
  overflow-y: scroll;
}
.table-data th {
  background-color: #f0efef !important;
  color: #09244b !important;
}
// .table {
//   height: 68%;
//   flex: 1;
//   overflow: auto;
// }
.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 12px;
  color: #101828;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
